<div class="row">
  <div class="column">
    <h3>{{'todos.heading.current' | translate}}</h3>
    <ul>
      <li *ngFor="let todo of todos | async">
        <div>
          <span class="label">{{'todos.entry.description' | translate}}:&nbsp;</span>
          <span>{{todo.text}}</span>
        </div>
        <div>
          <span class="label">{{'todos.entry.added' | translate}}:&nbsp;</span>
          <span>{{todo.addedTimestamp | date:'medium'}}</span>
        </div>
        <button (click)="complete(todo)">{{ 'todos.complete.entry' | translate }}</button>
      </li>
    </ul>
    <form (ngSubmit)="add()" #todoForm="ngForm">
      <input type="text" required id="name" name="name" #name="ngModel" [(ngModel)]="todoText"/>
      <button type="submit" [disabled]="!todoForm.form.valid">{{'general.add' | translate}}</button>
    </form>
  </div>
  <div class="column">
    <h3>{{ 'todos.heading.completed' | translate }}:</h3>
    <ul>
      <li *ngFor="let todo of completedTodos | async">
        <div>
          <span class="label">{{'todos.entry.description' | translate}}:&nbsp;</span>
          <span>{{todo.text}}</span>
        </div>
        <div>
          <span class="label">{{'todos.entry.added' | translate}}:&nbsp;</span>
          <span>{{todo.addedTimestamp | date:'medium'}}</span>
        </div>
        <div>
          <span class="label">{{'todos.entry.completed' | translate}}:&nbsp;</span>
          <span>{{todo.completedTimestamp | date:'medium'}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>