// Put your global styles here
// "Normalizing" browser styles is required in almost every reasonable project we know of, thus ...
@import "../../node_modules/normalize.css/normalize";

// Native font stack, see: http://v4-alpha.getbootstrap.com/content/reboot/#native-font-stack
// Should be suitable as default for most browsers.
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $font-family-sans-serif;
  margin: 0;
  background: #eee;
}

[hidden] {
  display: none !important;
}

input, select {
  &.ng-invalid {
    box-shadow: 0 0 6px #E84D3C;
  }
}