// Put your global styles here
// "Normalizing" browser styles is required in almost every reasonable project we know of, thus ...
@import "../../node_modules/normalize.css/normalize";
@import "./variables.scss";

// Native font stack, see: http://v4-alpha.getbootstrap.com/content/reboot/#native-font-stack
// Should be suitable as default for most browsers.
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: $color-white-smoke;
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  min-width: $page-min-width;
  min-height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* stylelint-disable */
  grid-template-areas: "header"
                       "content"
                       "footer";
  /* stylelint-enable */

  > footer {
    background-color: $color-black-smoke;
    color: $color-white;
    padding: 0.5rem 1rem;
    grid-area: footer;
    text-align: center;
    font-size: 12px;

    span {
      font-weight: 600;
    }
  }
}

[hidden] {
  display: none !important;
}

input, select {
  &.ng-invalid {
    box-shadow: 0 0 6px $color-warning-red;
  }
}