@import "../styles/variables";

:host {
  position: relative;
  display: block;
  grid-area: content;
}

h1, h2 {
  margin-left: 1rem;
}

header {
  background-color: $color-black-smoke;
  color: $color-white;
  position: fixed;
  grid-area: header;
  height: $header-height;
  width: 100%;
}

main {
  padding: $header-height 1rem 1rem;
}

.language-select {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 7px;
  border-radius: 50%;
  background: lightgrey;
  color: red;
  cursor: pointer;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > a {
    text-decoration: none;
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    color: red;
    flex-grow: 1;
    font-size: 1.4em;
    text-align: center;
    margin: 0.25rem;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.active {
      background: red;
      color: white;
    }
  }
}
