@import "../styles/variables";

:host {
  position: relative;
  display: block;
  grid-area: content;
}

h2 {
  margin-left: 1rem;
}

.gradient-menu {
  $menu-button-light-color: $color-white-smoke;

  background-color: $color-white-smoke;
  border-radius: 50%;
  border: none;
  position: relative;
  height: $header-height;
  width: $header-height;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    background:
      linear-gradient(
        to bottom,
        black,
        black 20%,
        $menu-button-light-color 20%,
        $menu-button-light-color 40%,
        black 40%,
        black 60%,
        $menu-button-light-color 60%,
        $menu-button-light-color 80%,
        black 80%,
        black 100%
      );
  }
}

header {
  background-color: $color-black-smoke;
  color: $color-white;
  position: fixed;
  grid-area: header;
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: $header-height 1rem 1rem;
}

.language-select {
  padding: 7px;
  border-radius: 50%;
  background: lightgrey;
  color: red;
  cursor: pointer;
}

nav {
  position: fixed;
  min-height: calc(100vh - #{$header-height});
  background-color: $color-black-smoke;
  width: $page-min-width;
  top: $header-height;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      line-height: 3rem;
      padding: 0 1rem;
    }
  }

  a {
    text-decoration: none;
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    color: red;
    font-size: 1.4em;
    text-align: center;
    margin: 0.25rem 0;
    width: 100%;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.active {
      background: red;
      color: white;
    }
  }
}
